@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --white:#fff;
    --bg-sheet-color:#2d2d2d;
    --bg-main-color:#242424;
    --bg-input-color: #383838;
    --secondary-color-icon:  #9ca3af;
    --bg-card:#323232;
  }
}
